body {
  background-color: #F8F9FA;
  overflow-y: scroll;
  font-family:  "Montserrat", sans-serif;
}

.container-fluid{
    margin: 0;
}


.col{
    margin: 0;
}

.row{
    margin-top:0;
    padding-top:0;
}

#header-top{
    display: none;
}

.display-4{
    font-size: 1.75em;
    margin-top: 25px;
    padding-top:0;
}

.responsive-picture{
    width:50%;
}

#main-text{
    padding-top: 5%;
    margin-top: 60px;
    padding-left: 0px;
    padding-right:0px;
    margin-bottom:20px;
}

#text-col{
    padding-top:30px;
}

.title-separator{
    display:none;
}

@media (max-width: 320px){
    .display-4{
        font-size: 1em;
    }

    #main-text{
        padding-top:10px;
    }
    .responsive-picture{
        margin-top:20px;
    }
}

@media (min-width: 410px){
    #main-text{
        padding-top:0px;
        margin-top:80px;
    }
    .responsive-picture{
        margin-top:20px;
    }
}

@media (min-width: 450px){
    #main-text{
        padding-top: 6%;
        margin-top:0px;
    }
    .responsive-picture{
        margin-top:20px;
    }
}


@media (min-width: 768px){
    .display-4{
        font-size: 3em;
    }

    .title-separator{
        display: block;
        margin-top: 10px;
    }

    #Mobile-header{
        display: none
    }

    #header-top{
        display: inline;
    }

    #header-top .container{
        padding-top: 5px;
    }

    #title-affiliation{
        display: inline;
        font-size: 1.2em;
    }

    #main-text{
        padding-top: 6%;
        margin-top:0px;
    }
    .responsive-picture{
        width:80%;
        margin-top:80px;
    }
    #text-col{
        padding-top:0;
    }

    #header-top{
        text-align:center;
    }
}

.no_highlight_link{
    color: black;
}

.no_highlight_link:hover{
    color:black;
    text-decoration:none;
}

.link_text{
    color: #B21311;
}
.link_text:hover{
    color: #870302;
    text-decoration:none;
    border-bottom: 1px dashed #870302;
}

.link_paper{
    color: #B21311;
}
.link_paper:hover{
    color: #870302;
}

.link_muted{
    color: inherit;
}
.link_muted:hover{
    color: #870302;
    text-decoration:none;
    border-bottom: 1px dashed #870302;
}

.item-research-teaching{
    font-weight: bold;
    text-decoration:none;
}

.card{
    padding-top:5px;
    padding-bottom:0px;
    padding-left:10px;
    padding-right:10px;
    margin-bottom:0;
    background-color:#F8F9FA;
    border:0px solid black;
    border-radius: 0px;
}

.buttonAbstract{
    color:black;
    border: 0px solid black;
    background-color:#D6D6D6;
    border-radius: 0px;
}

.buttonAbstract .link_button{
    color: inherit;
    text-decoration:none;
}

.buttonAbstract:hover{
    color:#F8F9FA;
    border: 0px solid #B21311;
    background-color:#B21311;
}

.buttonAbstract:focus {
  outline: none;
  box-shadow: none;
}

.display-5{
    font-size: 1.6em;
    margin-bottom: 20px;
}

code{
    color:black;
}

#my-footer {
    position: sticky;
    text-align: center;
    padding-top:10px;
    padding-bottom:20px;
}

.link_muted{
    color: black;
}
