/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    padding-top: 30px;
    right: 0;
    font-size:1em;
}

#content.active {
    width: 100%;
}

#content p.text-left{
    padding-top:0;
    margin-top:0;
}

.wrapper{
    display: flex;
    width: 100%;
    align-items: stretch;
}

.link_text{
    color:#0f66bd !important;
}

.link_text:hover{
    background-color: #7386D5;
    color:#fff !important;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #content {
        top:80px;
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
}
/*
@media (min-width: 1300px) {
    #content{
        font-size:1.3em;
    }
}