/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.table tr td{
    margin-left:0;
    padding-left:0;
}

tr.CV-field td{
    padding-bottom:0;
    margin-bottom:0;
    padding-top:15px;
}

tr.CV-subfield td{
    padding-top:5px;
    margin-top:0;
    margin-bottom:0;
    padding-bottom:0px;
}

tr.CV-subfield td ul{
    padding-top:0px;
    margin-top:0;
    margin-bottom:0;
    padding-bottom:0;
}

#cv-button{
    margin-bottom:20px;
    margin-top:5px;
    font-size:1.2em;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (min-width: 1300px) {
    .table{
        font-size:0.9em;
    }
}

@media  (min-height: 500px)  and (max-height: 600px) {
    .table{
        font-size:0.85em;
    }
    #cv-button{
        margin-bottom:20px;
        margin-top:5px;
        font-size:1em;
    }
}