/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.carousel-item {
    height: 500px;
    padding-top: 20px;
}

.carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #0f66bd;
    opacity: 0.5;
}
.carousel-indicators {
    bottom: -5px;
}

.carousel-indicators .active{
    background-color: #0d549b;
    opacity:1;
}

.carousel-caption{
    color:black;
    position:relative;
    font-size:0.8em;
    left: 0;
    top: 0;
}

.carousel-caption h6{
    font-size:0.95em;
}

#index-text-holder{
    width:55%;
    padding:15px;
}

#index-carousel-holder{
    width:45%;
    padding-left:35px;
    padding-right:25px;
}

.index-holder{
    padding-bottom:15px;
    font-size:0.95em;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 812px) {
    #content .carousel{
            display:none
    }
    #content #index-text-holder{
        width:100%;
    }
}

/* Tablet vertical */
@media (min-height: 811px) {
    #content {
        font-size: 1.3em;
    }
    #content .carousel{
        text-align: center;
        display:block;
        padding-top:0px;
        width:400px;
    }
    #content #index-text-holder{
        width:100%;
    }
    #content .carousel-indicators{
        bottom:-10px;
    }
    #content .carousel-caption{
        font-size:0.8em;
    }
}

/* Tablet Horizontal */
@media (min-width: 768px) and (max-height: 1024px) and (orientation: landscape){
    #content {
        font-size: 1.3em;
    }
    #content .carousel-indicators{
        bottom:-10px;
    }
    #content .carousel-caption{
        font-size:0.8em;
    }
}

/*
@media  (min-height: 768px) and (min-width: 768px) and (max-height: 1024px) and (max-width: 1024px){
    #content {
        font-size: 1.3em;
    }
    #content .carousel{
        text-align: center;
        display:block;
        padding-top:0px;
        width:400px;
    }
    #content #index-text-holder{
        width:100%;
    }
    #content .carousel-indicators{
        bottom:-50px;
    }
    #content .carousel-caption{
        font-size:0.8em;
    }
}

@media  (min-height: 1024px) and (min-width: 1024px) and (max-height: 1366px) and (max-width: 1366px){
    #content {
        font-size: 1.4em;
    }
    #content .carousel{
        text-align: center;
        display:block;
        padding-top:0px;
        width:400px;
    }
    #content #index-text-holder{
        width:100%;
    }
    #content .carousel-indicators{
        bottom:-80px;
    }
    #content .carousel-caption{
        bottom:0px;
        width:100%;
        font-size:0.8em;
    }
}
*/
@media (min-width: 1700px) {
    #content {
        font-size:1.5em;
    }
    .btn{
        font-size:1em;
    }
    .carousel-item {
        height: 600px;
    }
    #content .carousel{
        width:500px;
    }
    #content .carousel-indicators{
        bottom:-20px;
    }
    #index-text-holder{
    width:55%;
    padding:15px;
    }
    #index-carousel-holder{
        width:45%;
        padding-left:35px;
        padding-right:25px;
    }
}