#WorkingPapers{
    padding:10px;
    padding-top:0;
}

#WorkInProgress{
    margin-top:40px;
    padding:10px;
    padding-bottom:0;
    margin-bottom:0;
}

#OldStuff{
    margin-top:40px;
    padding:10px;
    padding-bottom:0;
    margin-bottom:0;
}

#scroll-research{
    display:none;
}

.research-item{
    padding:10px;
    /*margin-top:10px;*/
    /*background-color: #E9E9E9;*/
    border: 3px solid transparent;
    /*transition: border .2s;*/
}

.research-item:hover{
    /* Color border in red*/
    /*border: 3px solid #B21311;*/
    /*transition: border .2s;*/
}

.h6{
    font-size:1.1em;
}

.card{
    margin:0;
    margin-top:20px;
    background-color: #D7D7D7;
}

.col-12{
    margin:0px;
}

.text-justify{
    margin:0;
    margin-bottom:10px;
}

.research-par{
    margin-top:-10px;
    padding-top:0;
}

.research-buttons{
    margin-top:-1px;
    padding-top:0;
    bakcground-color: #D7D7D7;
}

.separator{
    margin-top: 20px;
}

@media (min-width: 320px){
    #WorkingPapers{
        padding-top: 10px;
    }
}

@media (min-width: 768px){
    #WorkingPapers{
        margin-top: -30px;
    }
    #scroll-research{
        display:block;
        position:fixed;
        margin-top:195px;
        margin-left: -50px;
    }
}


##

