#Current_Courses{
    padding:10px;
    padding-top:0;
}

#Past_Courses{
    margin-top:20px;
    padding:10px;
    padding-bottom:0;
}

.teaching-item{
    padding:10px;
    background-color: #E9E9E9;
    padding-bottom:0.05px;
}

.h6{
    font-size:1.1em;
}

.card{
    margin:0;
    margin-top:20px;
}

.teaching-par{
    margin-top:-10px;
    padding:0;
    margin-bottom:5px;
}

@media (min-width: 320px){
    #Current_Courses{
        padding-top: 10px;
    }
}

@media (min-width: 768px){
    #Current_Courses{
        margin-top: -30px;
    }
}

.separator{
    margin-top: 20px;
}