/* ---------------------------------------------------
    GENERAL SETTINGS
----------------------------------------------------- */

.teaching-item{
    padding-top:0px;
    padding-bottom:16px;
    width:70%;
}

.teaching-item h5{
    padding-top:0;
    margin-top:0;
}

.teaching-item-buttons{
    margin-bottom:10px;
    margin-top:0;
    padding-top:0;
}

.buttonAbstract {
  background-color: #E2E2E3;
  color: #555;
  border:none;
  outline:none;
  margin-right:10px;
  margin-top:10px;
   cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.buttonAbstract:hover {
  background-color: #0d539b;
  color: white;
  border:none;
}

.buttonAbstract,
.buttonAbstract:active,
.buttonAbstract:focus {
  outline: none;
}

.card{
    margin-top:15px;
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
    border-color:black;
    font-size:0.9em;
    outline:none;
    border:none;
    background-color:#E2E2E3;
}

.teaching-title{
    font-weight: 500;
    color: #000000;
    margin-top:0;
    margin-bottom:0;
    padding-top:0;
    padding-bottom:0;
    font-size:.95em;
}

.teaching-coauthor{
    margin-top:0px;
    margin-bottom:0;
    padding-top:0;
    padding-bottom:0;
    font-size:.9em;
}

.buttonAbstract{
        font-size:0.9em;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    .card{
        width:100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 1200px) {
    .teaching-item{
        width:100%;
    }
    .teaching-title{
        font-weight: 400;
        font-size: 1em;
    }
    .teaching-coauthor{
        font-size: 0.9em;
    }
    .card{
        width:100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (min-width: 1700px) {
    .teaching-title{
        font-weight: 450;
        font-size: 0.8em;
    }
    .teaching-coauthor{
        font-size: 0.75em;
    }
    .card{
        font-size:0.75em;
    }
    .buttonAbstract{
        font-size:0.75em;
    }
}